.col-sm-12.col-md-1
.col-sm-12.col-md-10  
  .well.bs-component  
    %legend 
      Edit 
      = @character.name

    = render 'form'

  = link_to 'Show', @character
  \|
  = link_to 'Back', characters_path
